@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
}
.navbar {
  display: none;
}

.navbar.fixed {
  @apply w-full bg-purple py-[45px];
  z-index: 1000;
  display: flex;
}

.container {
  @apply !max-w-[2080px];
}

.CenterZoomSlider .swiper-slide {
  transform: scale(0.8) !important;
  transition: transform 0.3s;
}
.CenterZoomSlider .swiper-slide-active {
  transform: scale(1) !important;
}

.nav-mobile-menu {
  @apply max-w-[100%] overflow-x-hidden fixed inset-0  top-[4rem] left-0   bg-black/90  text-white z-10 flex items-center justify-center transition-all duration-500;
}

.animate-hide-navbar {
  transform: translateX(100%);
  animation: hideNavbar 0.5s;
}
@keyframes hideNavbar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-show-navbar {
  animation: showNavbar 0.5s ease-in-out;
}

@keyframes showNavbar {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.nav-mobile {
  @apply flex flex-col items-center justify-center space-y-4 w-full h-full;
}
.nav-mobile a {
  @apply font-bold text-2xl py-4;
}

.nav-mobile a:hover {
  @apply text-purple animate-pulse;
}
